
.sign_in-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: auto;
  }

  .sign_up-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 106vh;
  }

  .agenda-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 115vh;
    background-image: url('../../public/backgroundImage.webp');
    background-size: cover;
    background-position: center;
  }

  .subir_imagen-container {
    display: flex;
    flex-direction: column; /* Alinea los elementos verticalmente */
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    min-height: 100vh;
    background-image: url('../../public/backgroundImage.webp');
    background-size: cover;
    background-position: center;
  }
  
  .imagen-container {
    display: flex;
    height: 71vh;

  }

  .formImagen {
    width: 350px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    position: absolute;
    top: 50px;
    left: 925px;
  }

  .textarea-description {
    resize: none; /* Prevent manual resizing */
    overflow-y: hidden; /* Hide vertical scrollbar */
    font-size: 14px; /* Adjust font size */
  }

  .galeria-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-image: url('../../public/backgroundImage.webp');
    background-size: cover;
    background-position: center;
  }

  .form-container {
    width: 200px;
    height: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
  }

  .form-inscripcion {
    width: auto;
    height: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
  }
  
  .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%; /* Ancho del carrusel igual al 100% */
  }
  
  .imagen-galeria-container {
    max-width: 100%; /* Ancho máximo de las imágenes igual al 100% */
    margin: 1rem;
  }

  .main_page-container {
    display: flex;
    justify-content: center;
    height: auto;
    background-image: url('../../public/backgroundImage.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  .search_page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../../public/backgroundImage.webp');
    background-size: cover;
    background-position: center;
  }

  .details_page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-image: url('../../public/backgroundImage.webp');
    background-size: cover;
    background-position: center;
  }

  .search-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .formContainer {
    width: 300px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
  }

  .formSignIn {
    width: auto;
    height: 450px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
  }

  .formBarra {
    background-color: #0e5c4f;
    /* background-color: #2d723e; */
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .botonOA2 {
    margin-left: auto;
    padding: 10px 20px;
    background-color: #1a5493;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 20px;
  }

  .botonBarra-container {
    margin-left: auto; /* Empuja el botón hacia la derecha */
  }

  .formFiltro {
    width: auto;
    height: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 8px;
  }

  .formFiltro > * + * {
    margin-left: 10px; /* Ajusta el valor según el espaciado deseado */
  }

  .formDetails {
    width: 600px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
  }

  .formFacets {
    width: 300px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    display: none;
    position: absolute;
    top: 240px;
    left: 1px;
  }

  .formSignUp {
    width: 350px;
    height: 584px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
  }

  .formSongs {
    width: 600px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
  }

  .formLogOut {
    width: 200px;
    height: 30px;
    padding: 20px;
    border-radius: 8px;
    margin-top: -20px;
    position: absolute;
    top: 1px;
    right: 1px;
  }

  .formSearch {
    width: 300px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    position: absolute;
    top: 1px;
    left: 1px;
  }
  
  .title {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }

  .titleImagen {
    text-align: center;
    margin-bottom: -5px;
    color: #333;
  }
  
  .titleDetails {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-Family: Arial Black, sans-serif;
  }

  .text {
    margin-top: 10px;
    color: #555;
  }

  .underlinedText {
    margin-top: 10px;
    color: #555;
    text-decoration: underline;
  }

  .textDetails {
    margin-top: 10px;
    color: #555;
    font-size: 18px;
    font-Family: Arial Black, sans-serif;
  }

  .filterText {
    margin-top: 10px;
    color: #555;
    text-decoration: underline;
    cursor: pointer;
  }

  .filterText:hover {
    color: rgb(53, 44, 44); /* Choose the desired highlight color */
  }

  .lyrics-text {
    margin-top: 10px;
    color: #555;
    font-size: 18px;
    font-weight: bold;
    font-Family: Arial Black, sans-serif;
  }
  
  .textBox {
    width: 278px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .textBoxSingUp {
    width: 330px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .comboBox {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .buttons {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /* font-family: "Arial", sans-serif; */
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .botonImagen {
    width: auto;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /* font-family: "Arial", sans-serif; */
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .botonBarra {
    width: 150px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /* font-family: "Arial", sans-serif; */
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .button-space {
    margin-right: 10px; /* Puedes ajustar el valor según tus preferencias de espacio */
  }
  
  .buttons:hover {
    background-color: #0056b3;
  }
  
  .buttons:not(:last-child) {
    margin-right: 10px;
  }

  .message {
    text-align: center;
    display: none;
    color: #c43838;
  }


  

  